parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/Stubs/PhpParseErrorJob.php
    ignoreErrors:
        - "#^Call to an undefined method Pest\\\\Expectation\\|Pest\\\\Support\\\\Extendable\\:\\:\\S+\\(\\)\\.$#"
